<!DOCTYPE html>
<html lang="en">
<%- include('../layout/head.ejs')  %>
</head>
<body>
    <%- include('../layout/navbar.ejs') %>
    <div class="container" style="width: 40rem; ">
       <form action="/reset" method="post">
            <div class="form-group">
                    <label for="" >New Password</label>
                    <input type="password" class="form-control" name="newpass" id="" placeholder="New Password">
                    <input type="hidden" name="token" value="<%= token %>">
                    <input type="hidden" name="userid" value="<%= userid %>">
            </div>
            <button type="submit" class="btn btn-dark">Reset password</button>
        </form>
    </div>

</body>
</html>