<!DOCTYPE html>
<html lang="en">
    <%- include('./layout/head.ejs') %>
</head>
<body>
  <%- include('./layout/navbar.ejs')%>
    
 
       <div style="height: 80%;">
        <img src="ublog.jpg"  alt="Responsive image" style="width: 100%;min-height: fit-content;background-position: center; background-repeat: no-repeat;background-size: cover;">    

       </div>
        


    
   



</body>
</html>